@keyframes shrinkWidthAnimation {
    from {
        width: 100%;
    }
    to {
        width: 50%;
    }
}

.shrink-width-animation {
    animation: shrinkWidthAnimation 0.5s ease-in-out forwards;
}